<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Launcher.AppSettings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
      <section name="Launcher.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUpdateServer" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Minelauncher/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IUpdateServer" contract="UpdateServer.IUpdateServer"
                name="BasicHttpBinding_IUpdateServer" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <Launcher.AppSettings>
      <setting name="Version" serializeAs="String">
        <value />
      </setting>
    </Launcher.AppSettings>
    <Launcher.Properties.Settings>
      <setting name="Version" serializeAs="String">
        <value />
      </setting>
    </Launcher.Properties.Settings>
  </applicationSettings>
</configuration>