<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
      <add key="MineLauncher.Server:RootPath" value="client\" />
      <add key="MineLauncher.Server:TempPath" value="temp\" />
      <add key="MineLauncher.Server:HistoryPath" value="history.json" />

      <add key="MineLauncher.Server:HashAlgorithm" value="MD5" />
      <add key="MineLauncher.Server:BufferSize" value="32768" />
      <add key="MineLauncher.Server:UpdateEveryStart" value="true" />

      <add key="MineLauncher.Server:ArchiveFiles" value="true" />
      <add key="MineLauncher.Server:ArchiveBlackList" value="zip,rar,jar,7z,tar.gz" />

      <add key="Server:ServiceUri" value="127.0.0.1:8733/Minelauncher/" />
      <add key="Server:ServiceName" value="MineLauncherServer" />
  </appSettings>
</configuration>