<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="MineLauncher.Server:RootPath" value="client\" />
    <add key="MineLauncher.Server:HashAlgorithm" value="MD5" />
    <add key="MineLauncher.Server:BufferSize" value="32768" />
    <add key="MineLauncher.Server:HistoryPath" value="history.json" />
    <add key="MineLauncher.Server:UpdateEveryStart" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- Во время развертывания проекта библиотеки служб содержимое файла конфигурации необходимо добавить к файлу 
  app.config на узле. Файлы конфигурации для библиотек не поддерживаются System.Configuration. -->
  <system.serviceModel>
    <services>
      <service name="Server.Core.UpdateServer">
        <clear />
        <endpoint binding="basicHttpBinding" contract="Server.Core.IUpdateServer"
          listenUriMode="Explicit">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"
          listenUriMode="Explicit">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Minelauncher/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
